<header class="h-28 w-full bg-top bg-center grid grid-cols-1 grid-rows-2 lg:grid-cols-4 lg:grid-rows-1">
    <div class="flex flex-col justify-center items-center col-span-1">
        <img src="img/logo.svg" alt="" class="h-16">
    </div>
    <div class="hidden lg:block"></div>
    <div class="hidden lg:block"></div>
    <div class="flex flex-row justify-center items-center">
        <a href="" class="text-white text-2xl hover:text-slate-300 mx-8">Home</a>
        <a href="" class="text-white text-2xl hover:text-slate-300 mx-8">Contact</a>
    </div>
</header>