<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script/tailwind.js"></script>
    <title>Villas 4 U</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/5d4a18d08e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="/script/huis1.js" type="module"></script>


    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @layer utilities {
            .h-full{
                height: 800px;
            }

            .h-half{
                height: 1400px;
            }

            .h-small{
                height: 3000px;
            }

            .grid-rows-7{
                grid-template-rows: repeat(7, minmax(0, 1fr));
            }

            .grid-rows-8{
                grid-template-rows: repeat(8, minmax(0, 1fr));
            }

            .grid-rows-9{
                grid-template-rows: repeat(9, minmax(0, 1fr));
            }

            .grid-rows-10{
                grid-template-rows: repeat(10, minmax(0, 1fr));
            }

            .grid-rows-11{
                grid-template-rows: repeat(11, minmax(0, 1fr));
            }

            .grid-cols-10{
                grid-template-columns: repeat(10, minmax(0, 1fr));
            }

            .card-3-house{
                background-image: url("img/huis-3/1.jpg");
                background-size: cover;
            }

            .card-6-house{
                background-image: url("img/huis6.jpg");
                background-size: cover;
            }

            .left-10p{
                left: 10%;
            }

            .left-40p{
                left: 40%;
            }

            .w-80p{
                width: 80%;
            }

            .ml-70p{
                margin-left: 34%;
            }
        }
    </style>
    <script src="script/huis1.js" defer></script>
</head>
<body>
    <%- include('../public/components/header.ejs') %>
    <div class="zoeker" id="Hoekwoning"></div>
<main class="grid grid-cols-2 grid-rows-1 min-h-full w-80p mx-auto mt-5" style="min-height: 80vh">
    <div class="grid grid-rows-2 grid-cols-1">
            <div id="huis1" class="items-center w-10/12 h-5/6 rounded-3xl bg-cover grid grid-cols-10 grid-rows-11" style="background-image: url('img/huis-1/1.jpg')">
                <i class="bi bi-arrow-left bg-white p-2 rounded-lg -ml-2 shadow-xl" style="grid-column: 0/1; grid-row: 6/7; text-align: center;" id="terug"></i>
                <i class="bi bi-arrow-right bg-white p-2 rounded-lg -mr-2 shadow-xl" style="grid-column: 10/11; grid-row: 6/7; text-align: center;" id="volgende"></i>
            </div>


            <iframe class="w-full rounded-lg" style="height:80%" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d609.4654891446177!2d5.063010099040859!3d52.336650355862936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1655547664399!5m2!1snl!2snl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="bg-black rounded-3xl w-9/12 h-5/6 mx-auto my-auto text-white">
        <div class="grid grid-cols-1 grid-rows-6 h-56 w-9/12 mx-auto">
            <div class="uppercase text-xs font-bold ml-1 flex align-center items-center">Villa, Hoekwoning • Bouwjaar 2022</div>
                <div class="font-bold text-3xl items-center ml-1 flex">€ 2.500.000</div>
                <div class="font-bold text-m items-center ml-1 flex">1398 CP Muiden, Nr. 4.1</div>
                <div class="grid grid-cols-2 grid-rows-1">
                    <div class="flex items-center justify-center text-s">
                        <i class="fa-solid fa-bed ml-1"></i>
                        <b class="mr-1 ml-1 text-sm">3</b> <span class="text-sm">slaapkamers</span>
                    </div>
                    <div class="flex items-center justify-center text-s">
                        <i class="fa-solid fa-bath ml-1"></i>
                        <b class="mr-1 ml-1 text-sm">3</b> <span class="text-sm">badkamers</span>
                    </div>

                </div>
                <p class="pt-8">
                    'Frontrow' aan het IJmeer. De Krijgsman Muiden is uniek door de ligging aan het IJmeer. Vanuit uw raam of het dakterras kijkt u uit over het IJmeer. De grote ramen veranderen door het prachtige uitzicht in levende schilderijen. Het uitzicht spat van het doek! De appartementen van Loods IV liggen aan vaarwater en worden aan de zuidzijde omringd door groen. Deze unieke ligging nodigt uit tot een bijzondere buitenbeleving, elk seizoen opnieuw. Zeilen op het IJmeer of met de eigen sloep varen naar Amsterdam, borrelen in de gezellige vestingstad Muiden. Het kan allemaal. En dat op slechts 15 minuten van Amsterdam.                 </p>
        </div>
    </div>

</main>
<%- include('../public/components/footer.ejs') %>
</body>
</html>