<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
<div class="h-14 bg-gradient-to-br from-sky-500 to-indigo-500"></div>
=======
    <title>Villas 4 U</title>
</head>
<body>
    Yoo op de index
>>>>>>> aa85ab120b05e5c8cf89f551d48dcefc8ef49744
</body>
</html>