<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script/tailwind.js"></script>
        <title>Login</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/5d4a18d08e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            clifford: '#da373d',
                        }
                    }
                }
            }
        </script>
        <style type="text/tailwindcss">
            @layer utilities {
                .h-full{
                    height: 800px;
                }
    
                .h-half{
                    height: 1400px;
                }
    
                .h-small{
                    height: 3000px;
                }
    
            }
        </style>
    </head>
<body>
    <main class="w-full h-full flex items-center justify-center">
        <div class="h-60 w-96 drop-shadow-lg bg-white rounded-3xl flex justify-center items-center flex-col" id="login">
            <img src="img/logo.svg" alt="" class="h-16 mb-8">
            <table>
                <tr>
                    <td>
                        <input class="bg-slate-200 rounded-md" placeholder="Username" type="text" id="username">
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <input class="bg-slate-200 rounded-md" placeholder="Password" type="password" id="password">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Login" class="bg-slate-200 rounded-md">
        </div>
    </main>
</body>
</html>